.header-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0px;
  height: 100vh;
  width: 70px;
  /* background: #11101d; */
  background: #A2A6A7;
  transition: all 0.5s ease;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.header-rootOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0px;
  height: 100vh;
  width: 250px;
  background: #11101d;
  transition: all 0.5s ease;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.header-root-sm {
  background-color: red;
}

.header-link {
  text-decoration: none;
}

.header-menuicon {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 10px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.header-menuiconOpen {
  color: #fff;
  position: absolute;
  left: 90%;
  top: 10px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.header-linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  height: 250px;
  width: 100%
}

.header-linkBox {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  text-decoration: none;
  line-height: 50px;
}

.header-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  height: 100%;
}

.header-link:hover {
  background: #fff;
  color: #11101d;
}

.header-icon {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.header-tooltip {
  position: absolute;
  left: 75px;
  top: 0;
  transform: translateY(-50%);
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.header-linkBox:hover .header-tooltip {
  top: 50%;
  transition: all 0.5s ease;
  opacity: 1;
}

.header-userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%
}