.mainArea-container {
  display: flex;
}
.mainArea-routes {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #51505e2b;
}

.mainArea-wrapper {
  max-width: 850px;
  width: 100%;
}